.admin-content {
  .new-register {
    @media (min-width: $md-screen) {
      text-align: right;
      button {
        width: fit-content;
        padding: 10px;
      }
    }
  }

  .filters-section {
    .search-input {
      @media (min-width: $md-screen) {
        button[type="submit"] {
          width: fit-content;
          padding: 10px;
        }
      }
    }
  }

  .search-results {
    margin: 17px 0;
    padding: 17px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    table {
      tbody {
        tr {
          :hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  form {
    button {
      margin: 7px 0;
    }

    %base-input-form {
      width: -moz-available; /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      width: fill-available;
      margin: 7px 0;
    }

    input:not([type="checkbox"]) {
      @extend %base-input-form;
    }

    textarea {
      @extend %base-input-form;
    }
  }
}
