body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

table {
  width: 100%;
  // remove borders from the table itself
  border-collapse: collapse;

  thead {
    background-color: #f9f9ff;
  }

  th,
  td {
    padding: 10px;
    text-align: center;
  }
}

@import "./input";
@import "./button";
@import "./selector";
@import "./modal";
