// theme colors
$primary-color: #00bbc9;
$primary-color-light: lighten($primary-color, 20%);
$primary-color-dark: darken($primary-color, 20%);

$primary-color-text: white;

// breakpoints (screen sizes)
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
// NOTICE: wide screen monitors might look a bit ugly, if we care, we can try 1400px as well
