// theme colors
$primary-color: #d32f2f;
$primary-color-light: #ff6659;
$primary-color-dark: #9a0007;

$primary-color-text: white;

// breakpoints (screen sizes)
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
// NOTICE: wide screen monitors might look a bit ugly, if we care, we can try 1400px as well
